<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="theme-color" content="#000000" />
    <meta name="x5-orientation" content="portrait" />
    <!-- HTTP 1.1 -->
    <meta http-equiv="pragma" content="no-store" />
    <!-- HTTP 1.0 -->
    <meta http-equiv="cache-control" content="no-store" />
    <!-- Prevent caching at the proxy server -->
    <meta http-equiv="expires" content="0" />
    <!-- ssr首次返回的js，设置rem-->
    <script>
      /*rem*/
    </script>
    <title>/*title*/</title>
    <meta
      name="description"
      content="react ssr。by: 偶尔吟湿作对,润滑万物的子慕大诗人"
    />
    <meta name="author" content="zimv,https://github.com/zimv" />
    <meta name="keywords" content="ssr" />
  </head>

  <body>
    <div id="root">$$$$</div>
    <script>
      /*ssrInitData*/
    </script>
    <script src="/*app*/"></script>
    <script src="/*vendor*/"></script>
  </body>
</html>
